body{
  background-color: rgb(248, 243, 243);
  /* text-align: center; */
}
.container{
    display: flex;
    background-color:#ffffff;
    margin:auto;
    margin-bottom:15px;
    margin-top:20px;
    min-width:650px;
    max-width: 1200px;
    box-shadow: 2px 1px 2px 2px rgb(244, 244, 244);
}
@media(max-width:768px){
    .container{
        min-width:250px;
        max-width: 270px;
    }
}
