.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height:320px;
}
video{
    width:400px;
    height:400px;
}
.my_video{
    margin-top:25px;
}
.user_video{
    margin-top:25px;
    margin-left:20px;
    margin-right:10px;

}
@media (max-width:768px){
    video{
        width:240px;
        height:240px;
    }
}
@media(min-width:768px){
    .user_video{
        margin-bottom: 60px;
    }
}
.form-input{
    border:none;
    border-radius:5px;
    height:25px;
    padding:10px;
    margin:10px;
}
.form-input:focus{
    border:none;
    outline:none;
}
.user_input_container{
    box-shadow: 5;
    border-radius:5px;
    background-color:rgb(236, 236, 236);
    padding:25px;
    margin:15px;
    margin-left: 15px;
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.user_input_two{
    width:45%;
    display : flex;
    flex-direction:column;
    margin-left:5px;
}
.user_input_one{
    width:50%;
    display : flex;
    flex-direction:column;
}
@media(max-width:768px){
    .user_input_container{
        flex-direction: column;
    }
    .user_input_two{
        width:100%;
    }
    .user_input_one{
        width:100%;
    }
    .container{
        margin-bottom: 10px;
    }
}
.camera_controls{
    display: flex;
    justify-content: space-around;
}
.btn_show_video{
    padding:5px;
    border-radius:5px;
    background-color:#fff;
    margin-bottom:10px;
    font-size:16px;
    width: 80px;
    color:grey;
    cursor:pointer;
}
.btn_show_video:hover{
    background-color:cyan;
    color:floralwhite;
    border:1px solid cyan;
}
.btn_audio{
    padding:5px;
    border-radius:5px;
    background-color:#fff;
    margin-bottom:10px;
    font-size:16px;
    width: 80px;
    color:grey;
    cursor:pointer;
}
.btn_audio:hover{
    background-color:rgb(224, 15, 15);
    color:floralwhite;
    border:1px solid rgb(233, 10, 10);
}
.my_video_container{
    display:flex;
    flex-direction:column;
}
.btn_show_video_2{
    padding:5px;
    border-radius:5px;
    background-color:#fff;
    margin-bottom:10px;
    font-size:16px;
    width: 80px;
    color:grey;
    cursor:pointer;
}
.btn_show_video_2:hover{
    background-color:cyan;
    color:floralwhite;
    border:1px solid cyan;
}
.btn_audio_2{
    padding:5px;
    border-radius:5px;
    background-color:#fff;
    margin-bottom:10px;
    font-size:16px;
    width: 80px;
    color:grey;
    cursor:pointer;
}
.btn_audio_2:hover{
    background-color:rgb(224, 15, 15);
    color:floralwhite;
    border:1px solid rgb(233, 10, 10);
}
.btn_ss{
    padding:5px;
    border-radius:5px;
    background-color:#fff;
    margin-bottom:10px;
    font-size:16px;
    width: 80px;
    color:grey;
    cursor:pointer;
}
.btn_ss:hover{
    background-color:rgb(39, 225, 122);
    color:floralwhite;
    border:1px solid rgb(3, 193, 18);
}
.share-container{
    display: flex;
    justify-content:start;
    align-items:start;
    margin-left:15px;
    word-break:break-word;
    flex-wrap: wrap;
    flex-direction: column;
}